#empresaSeleccionadas {
    background-color: bisque;
    border-style: solid;

        min-height: 100px;
        width: 700px;

}

.empresaSeleccionada{
    background-color: bisque;
}

.empresa{
    background-color: #e2eaf3;   
}

body{
    background-color: #e2eaf3;
}


img {
    width: 20% ;;
    height: 30% ;;
}

canvas {
    width: 100% !important;
    height: 30% !important;
}


#logout{
    float: right;
    margin: 15px;
}